<h1>User Products</h1>
<p>Product Error</p>

<p> UPPPSSSS!!! </p>

<p> I couldn't do the required action </p>

<p>% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %></p>
<p><% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %></p>

<p> <a href="./">show all product</a> </p>