<h1>Users</h1>
<p>Users Error</p>

<p> UPPPSSSS!!! </p>

<p> I couldn't do the required action </p>

<p>% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %></p>
<p><% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %></p>

<p> <a href="./">show all users</a> </p>