<h1>MY ADRESS BOOK</h1>
<p>Contact information</p>

<h1><%= @contact.name %></h1>

<ul>
		<li> <%= @contact.adress %>	</li>
		<li> <%= @contact.phone_number %> </li> 
		<li> <%= @contact.email_address %> </li>
</ul>

<p> <a href="./showAll">show all contacts</a> </p>
